body {
  position: relative;
}
.home-header {
  width: 100%;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-header a {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px #00000040 solid;
}
.home-header a img {
  width: 20px;
}
.home-header .user-datas {
  display: flex;
  align-items: center;
  gap: 10px;
}
.home-header .user-datas .user-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.home-header .user-datas .user-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.home-header .user-datas .user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home-header .user-datas .user-info span {
  font-family: rubikSemiBold;
  font-size: 1.2rem;
  color: var(--title-color);
}
main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px 25px;
}
/*--------------------------*/
.search-form {
  width: 100%;
}
.search-form div {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
  padding: 15px;
  background-color: #00000006;
  border: 1px #00000030 solid;
}
.search-form div input {
  width: 100%;
  border: none;
  background: transparent;
  font-size: 1rem;
}
.search-form div img {
  width: 30px;
}

/*----------------*/
.qrcode-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.qrcode-section .qr-code {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.qrcode-section .qr-code div {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.qrcode-section .qr-code div video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/*-------------------------*/
footer {
  width: 100%;
  background-color: white;
  padding: 25px;
  position: fixed;
  box-shadow: 0px -2px 12px #00000015;
  left: 0;
  bottom: 0;
  right: 0;
}
footer nav ul {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  gap: 25px;
  transition: 0.4s ease-in-out;
}
footer nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
footer nav ul li span {
  font-size: 0.9rem;
  color: #666;
}
footer nav ul li a img {
  width: 25px;
}
footer nav ul li:nth-child(2) span {
  color: var(--primary-color);
}
footer nav ul li .app {
  padding: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--primary-color);
  top: -4rem;
  left: -50%;
  margin-left: -5px;
  transform: translateX(-50%);
}
footer nav ul li span:hover {
  color: var(--primary-color);
  transition: 0.4s ease-in-out;
}
footer nav ul li a img:hover {
  fill: var(--primary-color);
  color: var(--primary-color);
}
